{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block main %}
<div>
    <h2><a href="{% url 'route_edit' route.uuid %}">{{ route.name }}</a> by {{ route.created_by.username }}</h2>
    <small>作成日: {{ route.created_at }}</small>
    <p>拠点: {{ route.depot.name }}</p>
    <p>都市: </p>
    {% for city in route.cities.all %}
        {{ city.name }} {% if not forloop.last %}, {% endif %}
    {% endfor %}
    <p>セールスマン: </p>
    {% for salesman in route.salesmen.all %}
        {{ salesman.name}} {% if not forloop.last %}, {% endif %}
    {% endfor %}
    <p>備考: {{ route.description }}</p>
</div>
{% endblock %}