{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block main %}
<div>
    <h2><a href="{% url 'route_edit' route.id %}">{{ route.route_name }}</a> by {{ route.created_by.username }}</h2>
    <small>作成日: {{ route.created_at }}</small>
    <p>拠点: {{ route.depot.city_name }}</p>
    <p>都市: </p>
    {% for city in route.cities.all %}
        {{ city.city_name }} {% if not forloop.last %}, {% endif %}
    {% endfor %}
    <p>セールスマン: </p>
    {% for salesman in route.salesmen.all %}
        {{ salesman.salesman_name}} {% if not forloop.last %}, {% endif %}
    {% endfor %}
    <p>備考: {{ route.route_description }}</p>
</div>
{% endblock %}