{% extends "base.html" %}

{% block main %}
<h2>都市セット</h2>
<div>
    <h2><a href="{% url 'route_edit' route.id %}">{{ route.route_name }}</a> by {{ route.created_by.username }}</h2>
    <small>作成日: {{ route.created_at }}</small>
    <p>拠点: {{ route.depot.city_name }}</p>
    <p>都市: </p>
    {% for city in route.cities.all %}
        <p>{{ city.city_name }} セールスマン:  {{ city.salesman.salesman_name }} {% if not forloop.last %}, {% endif %}</p>
    {% endfor %}
    <p>備考: {{ route.route_description }}</p>
</div>

<a class="btn btn-primary" href="{% url 'result' route.id %}">経路を作成する</a>

{% endblock %}