{% extends "base.html" %}

{% block main %}

<h2>経路作成の準備</h2>

<form method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    <table>
        <tr>
            <th>都市</th>
            <th>セールスマン</th>
        </tr>
        {% for form in formset %}
        <tr>
            <td>{{ form.city.value }}</td>
            <td>{{ form.salesman }}</td>
            {{ form.city.as_hidden }}
        </tr>
        {% endfor %}
    </table>
    <button type="submit">決定</button>
</form>
{% endblock %}