{% extends "base.html" %}
{% block main %}
<div class="welcome">
    <h1 class="title">ようこそ ビジュアル VNSへ!</h1>
    <p class="subtitle">VNSでルートを作成しましょう</p>
    <a class="btn btn-primary" href="{% url 'route_new' %}">ルートを作成する</a>
</div>
{% if routes %}
<table class="table">
    <thead>
        <tr>
            <th>作成者</th>
            <th>作成日</th>
            <th>タイトル</th>
        </tr>
    </thead>
    <tbody>
        {% for route in routes %}
        <tr>
            <th>{{ route.created_by.username }}</th>
            <th>{{ route.created_at }}</th>
            <th><a href="{% url 'route_detail' route.id %}">{{ route.title }}</a></th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>ルートはまだ作成されていません。</p>
{% endif %}
{% endblock %}