{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block main %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="card shadow-sm rounded p-4" style="min-width: 320px; max-width: 500px; width: 100%;">
        <div class="card-header bg-white border-bottom text-center">
            <h4 class="mb-0">会員登録</h4>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form layout='vertical' %}
                <div class="d-grid mt-4">
                    {% bootstrap_button button_type="submit" content="✅ 登録" button_class="btn-outline-success" %}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
